.jumbo {
    height: 470px;
    background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.welcome {
    font-size: 5rem;
    top: 350px;
    color: $sub-headline-color;
}